<section>
    <span class="name" style="font-size: 30px;">Rahim</span>

    <div class="navigation">
        <span><a href="#home" id="home2" (click)="changeColor('home2')">Home</a></span>
        <span ><a href="#About-me" id="About-me2" (click)="changeColor('About-me2')">About me</a></span>
        <span><a href="#my-skils" id="my-skils2" (click)="changeColor('my-skils2')">Skills</a></span>
        <span><a href="#portfolio" id="portfolio2" (click)="changeColor('portfolio2')">Portfolio</a></span>
        <span><a href="#contact" id="contact2" (click)="changeColor('contact2')">Contact</a></span>
        
    </div>
    <div class="menu-box" (click)="openmenu()" ><img src="assets\menu\Property 1=burger (1).png"></div>

    <div id="nav-bar" class="div-test" >
        <span class="top-span"><a href="#home" id="home1" (click)="mobileNavBar('home1')">Home</a></span>
        <span><a href="#About-me"  id="About-me1" (click)="mobileNavBar('About-me1')">About me</a></span>
        <span><a href="#my-skils" id="my-skils1" (click)="mobileNavBar('my-skils1')">Skills</a></span>
        <span><a href="#portfolio" id="portfolio1" (click)="mobileNavBar('portfolio1')">Portfolio</a></span>
        <span><a href="#contact" id="contact1" (click)="mobileNavBar('contact1')">Contact</a></span>
    </div>
</section>
