<section>

    <div>
        <h2>Rahim</h2>
        <span><a href="impressum">imprint</a></span>
    </div>

    <div>
        <span>© Rahim Zio 2024</span>
    </div>

    <div class="contact-div">
    <div><a href="https://github.com/rahimzio"><img src="assets/menu/github-bnt.png"  target="_blank"></a></div>
    <div><a href="https://www.linkedin.com/in/rahim-zio-582a62269/"  target="_blank"><img src="assets/menu/linkedin-bnt.png"></a></div>
    <div id="emailBtn" (click)="sendEmail()"><img src="assets/menu/mail-bnt.png"></div>
    </div>
</section>
