<section>
<div class="text-box">
    <h1>About me</h1>

    <span class="top" style="margin-top: 50px;">
        I'm a passionate German-speaking frontend developer based near Cologne,
        im passionate about bringing new ideas to life through programming and to create easy-to-use applications.
        I'm always striving to enhance my skills through the latest technologies.I'm also creative, innovative,
        and constantly seeking new challenges.
    </span>

    <div class="mini-text-box">
        <div class="mini-img-box"><img src="/assets/menu/Property 1=Variant3.png" alt=""></div>
        <span>
            Completing my education at the Developer Academy laid a solid foundation for my career in frontend development.
            The dynamic nature of this and the ever-changing technology landscape field fuels my curiosity and passion.
            I'm constantly seeking new opportunities to learn and grow.When i'm programming i prioritize planning,
            clean coding, and thorough documentation to ensure high-quality work.
            Agile methods and teamwork are essential elements in my approach to achieving the best results.
            Frontend development is not just a profession, but a true calling that brings me joy and satisfaction.
        </span>
    </div>
    <div class="mini-text-box">
        <div class="mini-img-box"><img src="/assets/menu/Property 1=Hover Blue.png" alt=""></div>
        <span>
            During my high school years, I contemplated my future and stumbled upon programming, ever since then,
            I've grown increasingly passionate about it every day.
            My goal is to continuously improve and make a significant contribution to your organization in the future.
        </span>
    </div>
</div>
<div>
    <div class="img-box">
        <img src="assets/bild2-min.png" style="border-radius: 45px;">
        <img style="z-index: -1; position: absolute;" src="assets\Vector 5.png">
    </div>
</div>


</section>
