<section>
<div class="section-wrapper">
    <div class="personal-img">
        <img src="assets/Group 2.png">
        <img src="assets/bild1-min.png">
    </div>

    <div class="introduction">
        <div class="I-am">
            <span>I am</span>
        </div>

        <div class="introduction-name">
            <div class="collum">
                <span class="name">Rahim Zio</span>
                <span class="under-name" style="color: rgba(75, 71, 255, 1);">FRONTEND DEVELOPER</span>
            </div>
            <div class="bnt">
                <a href="#contact">
                <img src="assets/menu/Button primary (let's talk).png">
                </a>
</div>
        </div>
    </div>
</div>

<div class="contact">
    <div class="line"></div>
    <div class="github" ><a href="https://github.com/rahimzio"  target="_blank"><img src="assets/menu/github-bnt.png"></a></div>
    <div><a href="https://www.linkedin.com/in/rahim-zio-582a62269/"  target="_blank"><img src="assets/menu/linkedin-bnt.png"></a></div>
    <div id="emailBtn" (click)="sendEmail()"><img src="assets/menu/mail-bnt.png"></div>
</div>

    <img class="vektor" src="assets/Vector (1).png">

</section>


 