<section>
    <h1>Portfolio</h1>
    <div class="projects-container">

        <div class="projects">
            <div>
                <img src="assets\menu\Property 1=Join.png">
            </div>
            <div class="project-discription">
                <h2>Join</h2>
                <div class="idi f-z"><span>Angular</span><div class="mini-line ml-s"></div><span>TypeScript</span><div class="mini-line ml-s"></div><span>HTML</span><div class="mini-line ml-s"></div><span>CSS</span><div class="mini-line ml-s"></div><span>Firebase</span></div>
                <span>Task manager inspired by the Kanban System. Create and organize tasks using drag and drop function, assign users and categories.  </span>
                <div class="bnt-div">
                    <span class="bnt"><a href="https://gruppenarbeit-551-join.developerakademie.net/join/login.html" target="_blank"><img src="assets\menu\Button portfolio section.png"></a></span>
                    <span class="bnt"><a href="https://github.com/rahimzio/Join" target="_blank"><img src="assets\menu\Button secondary.png"></a></span>
                </div>
            </div>
        </div>

        <div class="projects">

            <div class="up-picture">
                <img src="assets\menu\Pollo loco 1.png">
            </div>

        <div class="project-discription">
                <h2>El Pollo Loco</h2>
                <div class="idi"><span>JavaScript</span><div class="mini-line"></div><span>HTML</span><div class="mini-line"></div><span>CSS</span></div>
                <span> A simple Jump-and-Run game based on an object-oriented approach. Help poco to find coins and defeat the small chicken and big Chickenboss </span>
                <div class="bnt-div">
                    <span class="bnt"><a href="https://rahim-zio.developerakademie.net/elpolloloco/index.html" target="_blank"><img src="assets\menu\Button portfolio section.png"></a></span>
                    <span class="bnt"><a href="https://github.com/rahimzio/el-pollo-loco" target="_blank"><img src="assets\menu\Button secondary.png"></a></span>
                </div>
            </div>

            <div class="low-picture">
                <img src="assets\menu\Pollo loco 1.png">
            </div>
          
        </div>

        <div class="projects">

            <div>
                <img src="assets\menu\Pollo loco 4.png">
            </div>

            <div class="project-discription">
                <h2>Simple CRM</h2>
                <div class="idi"><span>Angular</span><div class="mini-line"></div><span>Firebase</span></div>
                <span> A very Simple Customer Relationship Managment system working with CRUD functionality </span>
                <div class="bnt-div">
                    <span class="bnt"><a href="https://rahim-zio.developerakademie.net/simple-crm/browser/dashboard/" target="_blank"><img src="assets\menu\Button portfolio section.png"></a></span>
                    <span class="bnt"><a href="https://github.com/rahimzio/Simple-crm" target="_blank"><img src="assets\menu\Button secondary.png"></a></span>
                </div>
            </div>
        </div>

    </div>
    <div class="color1"><img src="assets\Vector 4.png"> </div>
     
</section>
