section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    color: white;
    justify-content: center;
    position: relative;
    img{
        width: 85%;
    }

    @media(max-width: 650px){
        span{
            font-size: clamp(1rem, 0.9671052632rem + 0.1644736842vw, 1.125rem);
        }
    }

    @media(max-width:450px){
        span{
            img{
                width: 80%;
            }
        }
    }
}

h1{
    font-weight: 900;
    font-size: clamp(2rem,1.375rem + 3.125vw,4.375rem);
    padding: 15px;
    margin: auto;
    margin-top: 100px;
}

h2{
   color: rgba(75, 71, 255, 1);
   font-size: clamp(24px,36px,48px);
   margin-bottom: 20px;
}

.idi{
    color:rgba(0, 190, 232, 1);
    font-size: clamp(16px,28px,40px);
    margin-bottom: 25px;
    display: flex;
    span{
        color:rgba(0, 190, 232, 1);
    }
    @media(max-width:1000px){
        justify-content: center;
    }
}
.projects{
    display: flex;
    flex-direction: row;
    width: 90%;
    margin: auto;
    @media(max-width:1000px){
        flex-direction: column;
        img{
            margin-left: 10%;
            margin-right: 10%;
        }
    }
}

.project-discription{
    font-size: clamp(8px,20px,34px);
    display: flex;
    flex-direction: column;
    font-size: 20px;
    width: 47%;
    margin-top: 65px;
    margin-right: 100px;

    @media(max-width:1000px){
        text-align: center;
        width: 95%;
        margin-bottom: 15%;
        margin-top: -10%;
        margin-right: 0;
    }
}

.bnt-div{
    display: flex ;
    width: 120%;
    margin-top: 20px;
    justify-content: space-around;
    img{
        width: 100%;
    }
    @media(max-width:1000px){
        width: 100%;
    }
}

.mini-line{
    border-left: 3.5px solid rgba(75, 71, 255, 1);
    margin: 0 14px;
}

.color1{
    position: absolute;
    left: -313px;
    z-index: -1;
    
    img{
        width: 52%;
    }
}

.up-picture{
    display: none;
    @media(max-width:1000px){
        display: contents;
    }
}
.low-picture{
    @media(max-width:1000px){
        display: none;
    }
}

.f-z{
    @media(max-width: 500px){
    font-size: 12px;
    }
}

.ml-s{
    @media(max-width: 500px){
    margin: 0 8px;
    }
}

.bnt{
    :hover{
        width: 90%;
    }
}