.impressum{    
    color: rgb(238, 235, 235);
    padding-top: 100px;
    margin-top: 150px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

h1{
    color: white;
}

a{color:rgb(62, 226, 255);}
p{margin-top: 20px;}