<section>
    <div class="color2"><img  src="assets\GReen shadow (1).png"></div>
    <div class="code-icon-box">
        <img src="assets\menu\Property 1=Angular.png">
        <img src="assets\menu\Property 1=Typescript.png">
        <img src="assets\menu\Property 1=JavScript.png">
        <img src="assets\menu\Property 1=css.png">
        <img src="assets\menu\Property 1=html.png">
        <img src="assets\menu\Property 1=Scrum.png">
        <img src="assets\menu\Property 1=Wordpress.png">
        <img src="assets\menu\Property 1=Test Automation.png">
        <img src="assets\menu\github-bnt.png">
        <img src="assets\menu\Property 1=Api (1).png" >
    </div>

    <div class="seconde-container">
        <div>
            <h1>My Skills</h1>
        </div>
        <div class="span">
           <p> I have grown my frontend developments skillst that have allowed me to create different real projects.</p>
        </div>

        <div class="bnt">
            <a href="#contact"><img src="assets\menu\Button primary (let's talk) (1).png"></a>
            <!-- <a>Get in touch</a> -->
        </div>
    </div>

    <div class="line"></div>
</section>
