section{
display: flex;
flex-direction: row;
color: white;
padding-top: 110px;
position: relative;
@media(max-width:900px){
    flex-direction: column-reverse;
}
}

.code-icon-box{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(100px,1fr));
    gap: 20px clamp(41px, 5.365188px + 0.119454vw, 70px);
    max-width: 40%;
    z-index: 15;
   // margin-left: 150px;
    width: 40%;
    
    
    img{
    padding: 30px;
    @media(max-width:900px){
        padding: 20px;
    }
    }

    @media(max-width: 900px){
    grid-template-columns: repeat(auto-fill,minmax(60px,1fr)) !important;
    gap: 20px clamp(14px, -51.111111px + 16.222222vw, 83px) !important;
    max-width: 100% !important;
    width: 85% !important;
    margin-left: 0 !important;
    //margin: 0px 50px !important;
    }
    @media(max-width:1000px){
    gap: 15px clamp(26px, 5.365188px + 0.119454vw, 60px) ;
    margin-left: 120px;
    }

    @media(min-width:1000px){
        margin-left: 120px;
    }

}

h1{
    font-size: clamp(48px,64px,84px);
    margin-bottom: 50px;
    text-align: end;
}

.span{
    width: 90%;
    text-align: right;
    font-weight: 400;
    font-size: clamp(1rem,.9671052632rem + .1644736842vw,1.125rem);
    margin-left: 40px;
    @media(max-width:900px){
        margin-left: 85px;
    }

    @media(max-width:620px){
        margin-left: 0 !important;
        width: 100%;
    }
}

.line{
    border-top: 3.5px solid rgb(62, 226, 255);
    box-shadow: #04d9ff;
    right: 0;
    margin-top: 43px;
    position: absolute;
    width: clamp(28px, 8.9473684211px + 5.578947vw, 110px);
    @media(max-width: 900px){
        margin-top: 0;
        top: 152px;
        position: absolute;
        width: clamp(22px, 7.947368px + 4.578947vw, 34px);
    }
}

.bnt{
    margin-top: 52px;
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;    
    width: 66%;
    margin-left: 52%;
    /* height: 100%; */
    background: var(--main-color);
    border: 1px solid var(--main-color);
    box-shadow: var(--neon-box-shadow);
    font-size: clamp(1.25rem, 1.0427631579rem + 0.4111842105vw, 1.6375rem);
    font-weight: 600;
    color: var(--first-bg-color);
    z-index: 1;
    overflow: hidden;
    transition: border-radius 225ms;
    border-radius: 10px;
    height: 100px;
    @media(max-width:1000px){
        margin-left: 40%;
    }
    @media(max-width:900px){
        position: absolute;
        bottom: -115px;
        right: 12%;
    }
    :hover{
        opacity: 0.5;
    }
}

.seconde-container{
    width: 40%;
    margin-right: 100px;
    z-index: 1;
    @media(max-width:900px){
        width: 95%;
        margin-left: 0 !important;
    }

    @media(max-width:1000px){
        margin-right: 0;
        margin-left: 15px;
    }
   
}

.color2{
    position: absolute;
    left: -340px;
    img{
    @media(max-width:900px){
        width: 100vw;
    }
}

}